beautifulsoup4
CacheControl
cachetools
certifi
cffi
chardet
click
firebase-admin
Flask
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-core
google-cloud-firestore
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
grpcio
httplib2
idna
itsdangerous
Jinja2
MarkupSafe
msgpack
proto-plus
protobuf
pyasn1
pyasn1-modules
pycparser
pyTelegramBotAPI
pytz
requests
rsa
six
soupsieve
uritemplate
urllib3
Werkzeug
wikipedia
